body {
  background-color: #425A99
}

h1 {
  color: CC3C1B;
  font-family: 'Coustard', serif;
  text-align: center;
}

p {
  padding: 20px;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

#container {
  height: 75%;
  width: 80%;
  margin: 5% 5%;
  background-color: #08CEFF;
  border-style: solid;
  border-color: #08CEFF;
  overflow-y: auto;
}

#header {
  height: 20%;
  width: 80%;
  margin: 10px;
  background-color: #FF8548;
  border: 1px solid #1B4CCC;
}

#welcome {
  border: 1px solid #1B4CCC;
  background-color: #FF8548;
  float: left;
  height: 70%;
  width: 70%;
  overflow-y: auto;
  margin: 5px;
}

#menu {
  border: 1px solid #1B4CCC;
  background-color: #FF8548;
  height: 70%;
  width: 25%;
  float: left;
  overflow-y: auto;
  margin: 5px;
}
